* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 133, 202);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

.top {
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}
.container {
    width: 500px;
}
.container h2 {
    color: rgb(0, 133, 202);
}

.weather {
    background: rgb(191, 192, 191);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 133, 202);
    color: rgb(0, 0, 0);
    display: inline-block;
    flex: 1;
    font-size: medium;
    margin: 10px 5px;
    padding: 10px 15px;
}

.box {
    background: rgb(191, 192, 191);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0, 133, 202);
    color: rgb(0, 0, 0);
    display: inline-block;
    flex: 1;
    font-size: medium;
    margin: 10px 5px;
    padding: 10px 15px;
}